/*
 * Overrides CSS
 */
/*fonts*/
@font-face {
    font-family: 'assistantregular';
    src: url('/templates/089-standard/fonts/assistant-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'abelregular';
    src: url('/templates/089-standard/fonts/abel-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*<--- END fonts*/

/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
}


/* critical CSS */

  /*debugging alt-tags bei images - rausnehmen bei Go-Live! */
img[alt=""],
img:not([alt]) {
      border: 5px dashed #c00;

}
:root {
  --first-color: #9e8887; /*braun*/ 
  --second-color: #d91008; /*rot*/
  --header-color: #613a3a;
  --teamBild-width: 260px; 
}
a {
    transition: all .3s ease-in-out;
}
button.btn-navbar:active {
outline: none;
border: none;
}
button.btn-navbar:focus {outline:0;}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body {
    font-family: 'assistantregular';
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

.clr {
    clear: both;
}
h1, h2, h3, h4 {
    font-weight: normal;
}
body.desktop p,
body.desktop ul li {
    font-size: 18px;
    line-height: 25px;
} 
body.mobile p {
    font-style: 16px;
}

/*header*/
a.brand img {
    box-shadow: 0px 10px 50px -10px #584e4d;
}
body.is_home a.brand img {
    opacity: 0;
}
body.is_home header.sticky a.brand img {
    opacity: 1;
}
header#header {
    background-color: var(--first-color);
    padding: 20px 0px;
}
body.desktop header {
    position: fixed;
    top: 0px;
    height: 88px;
    z-index: 2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body.desktop header a.brand {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
}
body.desktop header nav.navbar-wrapper {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
}
/*content*/
body.desktop .svgLogoWrapper img,
body.tablet .svgLogoWrapper img {
    opacity: 0;
    will-change: transform, opacity;
    -webkit-transform: rotateX(-450deg);
            transform: rotateX(-450deg);
    -webkit-animation: rotateLogo 2s ease-in-out forwards;
            animation: rotateLogo 2s ease-in-out forwards;
    -webkit-transition: opacity .8s ease-in-out;
    -o-transition: opacity .8s ease-in-out;
    transition: opacity .8s ease-in-out;
}
body.desktop.ready .svgLogoWrapper img,
body.tablet.ready .svgLogoWrapper img {
    opacity: 1;
    -webkit-animation: rotateLogo 2s cubic-bezier(.2,.6,.84,1.23) .8s forwards;
            animation: rotateLogo 2s cubic-bezier(.2,.6,.84,1.23) .8s forwards;
}
 @keyframes rotateLogo {
    0% { -webkit-transform: rotateX(-900deg) scale(0); transform: rotateX(-900deg) scale(0); }
    100% { -webkit-transform: rotateX(0deg) scale(1); transform: rotateX(0deg) scale(1); }
 }
  @-webkit-keyframes rotateLogo {
    0% { -webkit-transform: rotateX(-900deg) scale(0); transform: rotateX(-900deg) scale(0); }
    100% { -webkit-transform: rotateX(0deg) scale(1); transform: rotateX(0deg) scale(1); }
 }
body#body blockquote {
    border-left: 5px solid #a59493;
}
.blog.kundenstimmen .item {
    background: #fff;
}
.blog.kundenstimmen .items-row:nth-child(even) .item {
    background: #f9f9f9;
}
.blog.kundenstimmen blockquote {
    max-width: 80%;
    font-style: italic;
}
.blog.kundenstimmen .item {
    padding: 5px 10px;
    margin: 50px 0px;
    border-radius: 3px;
}
body.karriere .leading-0 {
    background: #f7f7f7;
    padding: 10px 5px;
    border-radius: 2px;
}
h2.karriereHeader,
.secondColor {
    color: var(--second-color);
}
img.teamBild {
    width: 100%;
    margin: 50px 0px;
}
.page-header--team h2,
h2.team-meisterHeader {
    position: relative;
    text-transform: uppercase;
    color: var(--header-color);
}
.team--row__item:hover figure:after {
    background: rgba(0, 0, 0, 0.3);
}
.team--row__item:hover figure img {
    transform: scale(1.1);
}
.team--row__item img {
    width: var(--teamBild-width);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.team--row__item figcaption p {
    line-height: 20px;
    font-size: 1em;
}
.team--row__item figure h3 {
    font-size: 1.3em;
    line-height: 20px;
    letter-spacing: 1.2px;
}
.team--row__item figure:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
    transition: background 0.4s ease-in-out;
}
.team--row__item figcaption {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
    text-shadow:0px 1px 10px #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.team--row__item {
    position: relative;
    overflow: hidden;
    /*margin-right: calc((100% / 4 ) - var(--teamBild-width));*/
    margin-right: 50px;
}
body.desktop .team--row,
body.tablet .team--row {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.team {
    margin: 50px 0;
}
.not_home .item-page:not(.leistungen) {
    margin: 50px 0px;
}
body.desktop .ueberUns--item.ueberUns--item__text,
body.tablet .ueberUns--item.ueberUns--item__text {
    max-width: 40%;
    margin-right: 30px;
}
body.desktop .ueberUns,
body.tablet .ueberUns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body.view-article .item-page .item-image,
body.leistungen .item {
    box-shadow: 0px 4px 50px -10px #484848;
}
body.view-article .item-page .item-image {
    margin: 0px 20px 30px 0px;
}
body.leistungen .item--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.blog.leistungen .item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 0;
}
.blog.leistungen .page-header h2 a:hover {
    color: var(--second-color);
    text-decoration: none;
}
.blog.leistungen .item h2 a,
.blog.leistungen .item h2,
.blog.leistungen .item p {
    color: #fff;
}
.blog.leistungen .item h2 {
    font-size: 24px;
    letter-spacing: 1.2px;
}
.blog.leistungen .item h2 {
    padding: 10px 100px 0px;
}
.blog.leistungen .item p {
    padding: 10px 100px 30px;
}
.blog.leistungen .item h2,
.blog.leistungen .item p {
    text-shadow: 0px 0px 15px #484848;
}
.page-header {
    border-bottom: none
}
.blog.leistungen .item .page-header {
    top: 20px;
    left: 0;
}
.blog.leistungen .item p {
    bottom: 20px;
    left: 0;
    font-size: 16px;
}
body.desktop .blog.leistungen .item p {
    font-size: 20px;
}
.blog.leistungen .item .page-header,
.blog.leistungen .item p {
    position: absolute;
    z-index: 1;
}
.blog.leistungen .item {
    /*height: 252px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}
.blog.leistungen .item {
    position: relative;
}
.blog.leistungen .items-row {
    margin-bottom: 30px;
}
  /*headerBanners*/
  body.kundenstimmen .bannerHeaderContainer h4 {
      color: #484848;
  }
  body#body.desktop.kundenstimmen.Firefox .headerBanner--background h1 {
      font-size: 2em;
  }
  body#body.kundenstimmen .headerBanner--background h1 {
      color: var(--second-color);
      font-size: calc(18px + (32 - 18) *((100vw - 320px) / 1920 -320));
      text-shadow: none;
  }
  body.desktop.kundenstimmen .headerBanner--background,
  body.desktop.kontakt .headerBanner--background {
      height: 200px;
  }  
  body.kundenstimmen .headerBanner--background {
      background: #e2e2e2;
  }
  .headerBanner--background {
      position: relative;
  }
  body.kundenstimmen .headerBanner--background:after {
      content: initial;
  }
  .headerBanner--background:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 0;
  }
  .bannerHeader--wrapper h1 {
      text-transform: uppercase;
  }
  .bannerHeader--wrapper h4 {
      font-size: 1.2rem;
  }
  .innerwidth.bannerHeaderContainer {
      height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }
  .innerwidth.bannerHeaderContainer h1,
  .innerwidth.bannerHeaderContainer h4 {
      position: relative;
      z-index: 1;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
          align-content: center;
  }
  body.desktop .headerBanner--background {
      height: 340px;
  }
  body.ueberuns .headerBanner--background {
      background: url('/images/header/elektro-kottermair-ueber-uns-header.jpg') no-repeat;
  }
  body.leistungen .headerBanner--background {
      background: url('/images/header/elektro-kottermair-leistungen-header.jpg') no-repeat;
  }
  body.karriere .headerBanner--background {
      background: url('/images/header/elektro-kottermair-karriere-header.jpg') no-repeat;
  }
  body.kontakt .headerBanner--background {
      background: url('/images/header/elektro-kottermair-kontakt-header.jpg') no-repeat;
  }
  body.site .headerBanner--background {
      background-position: 50% 50%;
      background-size: cover;
  }
  .innerwidth.bellowHeaderImg h2 {
      margin: 0px;
  } 
  .innerwidth.bellowHeaderImg {
      margin: 50px auto;
      text-align: center;
  }
  /*<---END headerBanners*/

body.desktop .bellowHeaderImg img {
    width: 80px;
    margin: 30px 0 0 0;
}
body.desktop div.content--wrapper {
    margin-top: 128px; /*entspricht Höhe Header*/
}
body.desktop .item-page.home .articleBody {
    height: inherit;
}
.svgLogoWrapper svg {
    background: #fff;
    padding: 10px;
    border-radius: 2px;
        stroke-width: 1;
}

.svgLogoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
body.desktop .item-page.home .flexHeaderWrapper {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.item-page.home h1 {
  text-align: center;   
}
.item-page.home h1,
.bannerHeader--wrapper h1 {
  margin: 0px;
  color: #fff;
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 50px;
  letter-spacing: 1.2px;
  text-shadow: 1px 3px 12px #000;
}
.item-page.home {
    background: url('/images/kottermair-elektro-startseite-hintergrund.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
body.desktop .item-page.home {
    height: 634px;
}
h2.sinceHeader {
    text-transform: uppercase;
}
.banner h2 {
    font-size: 1.7rem;
    margin: 20px 0px 0px;
}
.banner {
    text-align: center;
}
/*non-critical*/
p.tel a {
    color: var(--header-color);
    text-decoration: underline;
}
a.btn.kontaktStart--btn:hover {
    color: #9c8886;
    background: #fff;
}
a.btn.kontaktStart--btn {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    width: 100px;
    background: #9c8886;
    color: #fff;
    text-shadow: none;
    font-size: 1.2em;
    box-shadow: 0px 10px 50px -10px #9a8885;
    border: 2px solid #776b69;
}
.kontaktStart {
    margin: 50px 0px;
}
body.desktop .navKacheln--container__item:hover img {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}
body.desktop .navKacheln--container__item img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
.navKacheln--container__item {
    overflow: hidden;
}
.navKacheln--inner.innerwidth h2,
.kontaktStart h2,
.leistungsspektrum h2,
body.not_home.view-article .item-page h1 {
    color: var(--header-color);
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: normal;
}
h2.karriereHeader {
  position: relative;
  margin-bottom: 50px;
}
.navKacheln--inner.innerwidth h2:after,
.leistungsspektrum h2:after,
body.not_home.view-article .item-page h1:after,
.page-header--team h2:after,
h2.karriereHeader:after {
    content: '';
    position: absolute;
    width: 50px;
    background: #484848;
    left: 0;
    bottom: -20px;
    height: 2px;
}
.navKacheln--inner.innerwidth {
    padding: 50px 0px;
}
.navKacheln.fullwidth {
    background: #f0f0f0;
}
.navKacheln--container__item h3 {
    position: absolute;
    text-transform: uppercase;
    left: 20px;
    bottom: 50px;
    background: rgba(255, 255, 255, 0.85);
    padding: 2px 10px;
    color: #484848;
    border-radius: 2px;
    font-size: 1.2rem;
}
.navKacheln--container__item {
    position: relative;
}
body.desktop .kontaktStart--container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body.desktop .navKacheln--container,
body.desktop .kontaktStart--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
footer {
    background: var(--first-color);
}
footer .vcard {
    padding: 50px 0px 0px;
    margin: 30px 0px 0px;
}
a.imprLink {
    color: #fff;
}
footer .vcard img {
    margin-bottom: 20px;
}
footer .vcard p,
footer .vcard a {
    line-height: 20px;
    color: #fff;
}
footer p.fn {
    text-transform: uppercase;
}

/*<---END content*/
 /*Menue*/
 ul.nav-child.dropdown-menu li a {
    padding: 15px 30px;
}
 body#body ul.nav-child.dropdown-menu li a {
    color: #796c6a;
}
  @-webkit-keyframes topSlide {
        0% {opacity: 0; -webkit-transform: translateY(-50px); transform: translateY(-50px);}
        100% {opacity: .9; -webkit-transform: translateY(0px); transform: translateY(0px);}
    }
  @keyframes topSlide {
        0% {opacity: 0; -webkit-transform: translateY(-50px); transform: translateY(-50px);}
        100% {opacity: .9; -webkit-transform: translateY(0px); transform: translateY(0px);}
    }
body.desktop header.sticky {
    animation: topSlide 1.5s cubic-bezier(.31,.02,.03,1) forwards;
    height: 60px;
}
body#body .navbar .nav>li>a:focus,
body#body .navbar .nav>li>a:hover {
    color: var(--second-color);
    text-decoration: none;
    background-color: transparent;
}
body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus {
    color: var(--second-color);
}
body#body.desktop .navbar .nav {
    font-size: 18px;
}
body#body .navbar .nav {
    font-family: 'abelregular';
    font-weight: normal;
    letter-spacing: 1.5px;
    font-size: 16px;
}
body#body .navbar .nav a {
    color: #fff;
    text-shadow: none;
    transition: color .3s ease-in-out;    
}
body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus {
    background-color: transparent;
    box-shadow: none;
    background-image: none;
    /*color: var(--first-color);*/
}
.navbar .nav > li {
  display: inline-block;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0;
    background-color: transparent;
    background-image: none;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}
body.site .dropdown-menu {
    padding: 0px;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
    opacity: 1;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3),
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
    -ms-transform: translateY(0px) translateX(0) rotate(0deg);
    transform: translateY(0px) translateX(0) rotate(0deg);
} 
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(8px) translateX(0) rotate(35deg);
    -ms-transform: translateY(8px) translateX(0) rotate(35deg);
    transform: translateY(8px) translateX(0) rotate(35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(3) {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-35deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-35deg);
    transform: translateY(-8px) translateX(0) rotate(-35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} 
body#body .btn-navbar .icon-bar+.icon-bar {
    margin-top: 4px;
}
body#body .navbar .btn-navbar .icon-bar {
    width: 40px;
    height: 4px;
    box-shadow: none;
}
body#body button.btn.btn-navbar {
    text-shadow: none;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
  /*hover / current active states*/
body#body.site .dropdown-menu>li>a:hover,
body#body .dropdown-menu>li>a:focus,
body#body .dropdown-submenu:hover>a,
body#body .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body.site .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body.desktop .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #6d6160;
}
body#body .navbar .nav li.dropdown.open>.dropdown-toggle .caret,
body#body .navbar .nav li.dropdown.active>.dropdown-toggle .caret,
body#body .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #6d6160;
    border-bottom-color: #6d6160;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}

/* non-critical CSS */
.copyWrapper {
    padding: 20px;
}


/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}