/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media(max-width: 1200px) {
	/*critical*/

}
@media(max-width: 320px) {
	body#body.mobile.phone .blog.leistungen .item p {
	    display: none;
	}
}
@media(min-width: 361px) and (max-width: 1024px) {
	body#body.phone .blog.leistungen .item h2 {
	    padding: 0px 20px 0px;
	    font-size: 19px;
	}
	body#body.phone #content .blog.leistungen .item p {
	    font-size: 17px;
	    line-height: 23px;
	    padding: 10px 20px 0px;
	}
}
@media(min-width: 375px) {
	body.phone .blog.leistungen .item p {
	    padding: 10px 20px 0px;
	}
	body.phone .blog.leistungen .item h2 {
	    padding: 0px 20px 0px;
	    font-size: 19px;
	}	
}
@media(max-width: 600px) and (orientation: portrait) {
	/*critical*/
	body#body.tablet .navKacheln--container {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	body#body.tablet .blog.leistungen .item {
	    margin-bottom: 50px;
	}	
	body#body.tablet .blog.leistungen .items-row {
	    margin-bottom: 0px;
	}
	body#body.tablet .blog.leistungen .item .page-header {
	    top: 40px;
	}
	body#body.tablet .blog.leistungen .item p {
	    bottom: 50px;
	    font-size: 16px;
	    line-height: 25px;
	}
}
@media(max-width: 667px) and (orientation: landscape) {
	
	body.phone .svgLogoWrapper img {
	    max-width: 30%;
	}
	body#body.phone.home #content .svgLogoWrapper {
	    height: 55%;
	}
}
@media(max-width: 767px) {
	/*critical*/
	body#body {
	    padding-right: 0px;
	    padding-left: 0px;
	}
}
@media(max-width: 1024px) and (orientation: portrait) {
	/*critical*/
	body#body.tablet .ueberUns {
	    display: initial;
	}
	body#body.tablet .ueberUns--item.ueberUns--item__text {
	    max-width: initial;
	}
	body.tablet .navKacheln--container {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}	
}

@media(max-width: 1024px) and (orientation: landscape) {
	/*critical*/
	body#body.phone.home .svgLogoWrapper {
	    height: 50%;
	}	
	body#body.phone .navKacheln--container__item {
	    width: 50%;
	}
	body#body.phone .blog.leistungen .item p {
	    padding: 10px 30px 10px;
	}
	body#body.mobile.phone .blog.leistungen .item p {
	    bottom: 50px;
	}
	body.phone .blog.leistungen .item {
	    width: 80%;
	    margin: 0 auto;
	}	
	body#body.phone .team--row__item {
	    width: 80%;
	    margin: 30px auto !important;
	}	
	body.phone.not_home.view-article .item-page .item-image {
	    width: 40%;
	}	
}

@media(max-width: 1024px) {
	/*critical*/
	body.phone .blog.leistungen .item h2,
	body.phone .blog.leistungen .item p {
	    text-shadow: 0px 0px 15px #000000;
	}
	body.phone.kontakt .headerBanner--background,
	body.phone.ueberuns .headerBanner--background {
	    min-height: 125px;
	}	
/*	body#body.phone.is_home a.brand img {
	    opacity: 1;
	}	*/
	body.phone .navKacheln--container__item {
	    width: 80%;
	    margin: 0 auto 30px;
	}
	body#body.phone .blog.leistungen .items-row {
	    margin-bottom: 0px;
	}
	body#body.phone .blog.leistungen .item {
	    height: auto;
	    margin-bottom: 30px;
	}
	body.phone .team--row__item figure h3 {
	    font-size: 1.1em;
	}
	body.phone .team--row__item figcaption p {
	    font-size: 0.9em;
	}
	body#body.phone .team--row__item figcaption {
		text-shadow: none;
	    color: #524746;
	    left: 60px;
	}
	body#body.phone .team--row__item {
	    margin-right: 0px;
	}
	body.phone ul.nav.menu.nav-pills {
	    padding: 10px 20px;
	}
	body.phone div.banner h2 {
	    font-size: 18px;
	}
	body.phone.home .content.content--wrapper {
	    clear: both;
	}
	body.phone a.brand {
	    float: left;
	    max-width: 220px;
	    position: relative;
	    z-index: 9999;	    
	}
	body.phone.home .articleBody:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.19);
	    z-index: 0;
	}
	body.phone.home .articleBody {
	    position: relative;
	}	
	body#body.phone .item-page.home h1 {
	    font-size: 38px;
	    line-height: 35px;
	    text-shadow: -1px 2px 2px #000;
	}
	body.phone.home .svgLogoWrapper {
	    height: 40%;
	    position: relative;
    	z-index: 1;
	}	
	body.phone.home .flexHeaderWrapper {
/*	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;*/
	    height: 70%;
	    position: relative;
    	z-index: 1;
	}
	body.phone.home .articleBody {
	    height: calc(100vh - 90px);
	}
	body#body.phone .navbar .nav {
	    background: #9c8886;
	}	
	body.phone header#header {
	    height: 80px;
	    padding: 10px 0px 0px;
	}
	body.phone .blog.leistungen .item h2 {
	    padding: 0px 30px 0px;
	    font-size: 18px
	}
	body#body.phone .blog.leistungen .item .page-header {
	    top: 0px;
	}
	body.mobile.phone .blog.leistungen .item p {
	    bottom: 20px;
	}	
	body.phone .blog.leistungen .item p {
	    padding: 10px 30px 0px;
	}
/*	body.phone .blog.leistungen .item {
	    height: 252px; 
	}	*/
}
@media(min-width: 1200px) {
	/*critical*/
	body.desktop .innerwidth.content--container,
	body.desktop.elektroteam .content--wrapper .innerwidth  {
	    width: 1200px;
	}	
}
@media(min-width: 1280px) {
	/*critical*/
	body#body.desktop.karriere .innerwidth.content--container {
	    width: 1000px;
	}
	body#body.desktop.kundenstimmen .innerwidth.content--container {
	    width: 1000px;
	}	
}
@media(max-width: 1366px) and (orientation: portrait) {
	/*critical*/
	body#body.tablet .blog.leistungen .item h2 {
	    padding: 0px 10px 0px;
	    line-height: 10px;
	    margin-top: 0px;
	}
	body#body.tablet .blog.leistungen .item .page-header {
		left: 20px;
	}	
	body#body.tablet .blog.leistungen .item p {
	    padding: 10px 30px 0px;
	}	
	body#body .team--row {
	    margin-bottom: initial;
	    display: initial;
	    display: initial;
	    display: initial;
	} 
	body#body.tablet .team--row__item img {;
	    margin-left: 30px;
	}	
	body#body.tablet .team--row__item figcaption {
	    color: #6f615f;
	    text-shadow: 0px 1px 1px #e2e2e2;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}		
}
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
	/*critical*/
	body#body.tablet.home .navKacheln--container {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
}
@media(max-width: 1366px) and (orientation: landscape) {
	/*critical*/
	body#body.tablet .team--row__item img {
	    width: 190px;
	}	
	body.tablet .team--row__item img {
    	width: 100%;
	}	
}
@media(max-width: 1366px) {
	/*critical*/
	body.tablet.not_home.view-article .item-page .item-image {
	    width: 50%;
	}	
	body.tablet.kontakt .headerBanner--background,
	body.tablet.ueberuns .headerBanner--background {
	    min-height: 150px;
	}
	body.phone .blog.leistungen .item p {
		font-size: 16px;
	}		
	body.mobile .blog.leistungen .item p {
	    bottom: 10px;
	}	
	body.tablet .blog.leistungen .item h2 {
	    padding: 10px 50px 0px;
	    font-size: 20px
	}
	body.tablet .blog.leistungen .item p {
	    padding: 10px 50px 20px;
	}
	body.mobile .innerwidth.content--container,
	body.mobile.not_home .bottom-wrap {
	    margin: 0px 20px;
	}
	body.mobile .bannerHeader--wrapper {
	    padding-left: 20px;
	}
	body.mobile .kontaktStart {
	    margin: 50px 0px 0px;
	}
	body.mobile .kontaktStart {
	    text-align: center;
	}
	body.mobile .kontaktStart--container__item iframe {
	    width: 100%;
	}
	body.tablet .navKacheln--container {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	}		
	body.tablet .navKacheln--container__item {
	    margin: 0px 30px 30px 0px;
	}
	body#body.mobile.not_home .item-page {
	    margin: 50px 20px;
	}
	body.mobile .navKacheln--inner,
	body.mobile .kontaktStart,
	body.mobile .innerwidth.content--container {
	    margin-left: 20px;
	    margin-right: 20px;
	}
	body.tablet.home .svgLogoWrapper img {
	    margin: 10px 0px;
	    width: 300px;
	}
	body.mobile.home .articleBody {
	    padding-bottom: 10px;
	}
	body.mobile .item-page.home h1,
	body.mobile .bannerHeader--wrapper h1 {
	    margin: 20px 0px 10px;
	    font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1366 - 320)));
	    line-height: 35px;
	}	
	body#body.tablet .nav-collapse, body#body.tablet .nav-collapse.collapse {
	    height: 0!important;
	    overflow: hidden!important;
	    padding: 0 0 80px 20px;
	}
	body.tablet .nav-collapse.collapse {
	    position: absolute;
	    right: -30px;
	    top: 0;
	    width: 80%;
	}
	body.tablet .nav-collapse {
	    clear: both;
	}
	body.tablet .nav-collapse ul.nav.menu.nav-pills {
	    background: #9c8886;
	    width: 100%;
	    top: 60px;
	    -webkit-box-shadow: 0 14px 30px -11px #4a4a4a;
	    box-shadow: 0 14px 30px -11px #4a4a4a;
	    border-radius: 0 0 0 10px;
	    padding: 30px 0 10vh;
	    -webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    transform: translateX(100%);
	    -webkit-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	body#body.tablet .nav-collapse.collapse.openMenu, body#body.tablet .nav-collapse.openMenu {
	    height: auto!important;
	}
	body.tablet .nav-collapse.openMenu ul.nav.menu.nav-pills {
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    -webkit-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
	body.mobile .navbar .nav>li {
	    display: block;
	    float: none;
	}
	body.tablet .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}
	body.tablet .navbar {
	    margin: 0 30px 0 auto;
	}
	body.tablet .navbar-wrapper {
	    -ms-flex-preferred-size: 75%;
	    flex-basis: 75%;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    color: #fff;
	}
	body#body.mobile ul.nav-child.dropdown-menu {
	    background: transparent;
	    position: initial;
	    float: none;
	    box-shadow: none;
	    border: none;
	}
	body#body.mobile .dropdown-menu:before,
	body#body.mobile .navbar .nav>li>.dropdown-menu:after {
		content: initial;
		display: none !important;
	}
	body#body.mobile .navbar .nav li.dropdown>.dropdown-toggle .caret {
		display: none;
	}
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    padding: 10px 30px;
	}

	body.tablet header#header {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}
	body#body.phone .team--row__item figcaption {
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}	
	body#body .team--row__item img {
	    width: 160px;
	}	
	.team--row__item {
	    margin-bottom: 30px;
	}	
	body.mobile .bellowHeaderImg img {
	    width: 120px;
	}	
}
@media(min-width: 1367px) {
	/*critical*/
	body.elektroteam .team--row__item,
	img.teamBild {
		box-shadow: 0px 4px 50px -18px #484848;
	}
	body.elekroteam figcaption p, figcaption h3 {
	    background: rgba(68, 68, 68, 0.2);
	    padding: 3px;
	    border-radius: 2px;
	    /*border: 2px solid rgba(255, 255, 255, 0.1);*/
	}	
	body.elektroteam .fullwidth.ifTeam:after {
	    content: ' ';
	    background: url(/images/team/elektroteam-kottermair-team-hintergrund.jpg) no-repeat;
	    position: absolute;
	    width: 100vw;
	    height: 100%;
	    background-size: cover;
	    opacity: 0.5;
	    left: 0px;
	    top: 100px;
	    z-index: -1;
	}	
	h2.team-meisterHeader {
	    text-align: center;
	}	
	.team--row__item {
	    margin-right: 50px;
	}
	.team--row__item:last-child {
	    margin-right: 0px;
	}	
}
@media(max-width: 1920px) {
	body.site h2 {
		font-size: calc(21px + (31 - 21) * ((100vw - 320px) / (1920 - 320)));
	}
	body.site .page-header--team h2,
	h2.team-meisterHeader {
		font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1920 - 320)));
	}	
}


/*specials*/
@media(max-width: 1023px) {
	body#body.desktop div.site_wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none !important;
	}
}